* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header > .container,
footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.container-flex {
    display: flex;
}

#sobre-loja img {
    max-width: 400px;
    margin-right: 24px;
}

#products img {
    max-width: 240px;
    margin-right: 24px;
    max-height: 240px;
}

.products-wraper {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 2%;
    text-align: center;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #192a56;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.price {
    margin: 16px o;
    display: block;
}

.price del {
    color: #ccc;
    font-size: 12px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: landscape) {
    .store-front {
    width: 30%;
    }

    .products-wraper {
    grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) and (orientation: portrait) {
    .store-front {
    width: 70%;
    }

    .products-wraper {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .store-front {
    display: block;
    width: 40%;
    text-align: center;
    }

    .store-front h2,
    .store-front p {
    font-size: 0.8em;
    }

    nav {
    width: 50%;
    }

    nav ul {
    display: block;
    }

    .products-wraper {
    grid-template-columns: repeat(1, 1fr);
    }
}